#include <iostream>
#include <cstdlib>

int main()     //This is were everthing is excluded
{
    std::cout << "=============\n";    //This is the Title
    std::cout << "MAGIC 8-BALL:\n";
    std::cout << "=============\n\n";

    srand(time(NULL));

    int choice = std::rand() % 20;     //This is the random number generator

    std::cout << choice;
    switch(choice) {             // This is a switch statment it acts like a if, else if, else statment
        case 0:     //  If the number generates 0 then this case whill exceut 
        std::cout << " It is certain."; // this is the text that will print out
        break; // this is so the switch statment will not contuine if it hits this case

        case 1:
        std::cout << " It is decidedly so.";
        break;

        case 2:
        std::cout << " Without a doubt.";
        break;

        case 3:
        std::cout << " Yes - definitely.";
        break;

        case 4:
        std::cout << " You may rely on it.";
        break;

        case 5:
        std::cout << " As I see it, yes.";
        break;

        case 6:
        std::cout << " Most likely.";
        break;

        case 7:
        std::cout << " Outlook good.";
        break;

        case 8:
        std::cout << " Yes.";
        break;

        case 9:
        std::cout << " Signs point to yes.";
        break;

        case 10:
        std::cout << " Reply hazy, try again.";
        break;

        case 11:
        std::cout << " Ask again later.";
        break;

        case 12:
        std::cout << " Better not tell you now.";
        break;

        case 13:
        std::cout << " Cannot predict now.";
        break;

        case 14:
        std::cout << " Concentrate and ask again.";
        break;

        case 15:
        std::cout << " Don't count on it.";
        break;

        case 16:
        std::cout << " My reply is no.";
        break;

        case 17:
        std::cout << " My sources say no.";
        break;

        case 18:
        std::cout << " Outlook not so good.";
        break;

        case 19:
        std::cout << " Very doubtful.";
        break;

        default:      // this is just in case if the random number generator brakes
        std::cout << " IDK.\n";    
        break;

    }
    return 0;   // this is for the end return so the code will stop
}
